/*base css*/

.container { max-width: 1060px; width: auto; font-family: Lato; font-size: 14px; }

/* material design tab navigation  */

.nav-tabs > li, .nav-pills > li { float:none; display:inline-block; *display:inline; /* ie7 fix */ zoom:1; /* hasLayout ie7 trigger */}
.nav-tabs, .nav-pills { text-align:center; font-weight: 800; font-size:15px; }
.nav-tabs { border-bottom: 2px solid #DDD; width:1020px; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #27A822 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #27A822;  height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1);}
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 10px 0;}
.tab-content { padding:20px 10px; width: 1020px; }


/*All Charts*/
.chart-title { font-weight: 600; margin: 0px 0px 25px 0px;}

.subText { font-style: italic; font-size:11px }
.highlightText { font-weight: bold; font-style: italic; font-size:14px }
.workflowPara { text-align:left;}

/* Composite Chart  */
#expenditures-container { text-align:left; }

#function-chart { width: 300px; float: left;}
#exp-by-campus-chart { width: 600px; float: left;}
#function-pie-chart { width: 200px; float: left; }
#exp-trend-bar-chart { width: 200px; float: left;}

#segment-row-chart { margin : 0px 0px 0px 30px;}

#avg-volume-chart
    svg g g.axis.y { display: none; }

/* Customer Specific  */

#revenue-source-chart { width: 300px; float: left;}
#rev-source-pie-chart { width: 600px; float: left;}
#rev-by-campus-chart { width: 200px; float: left; }
#rev-trend-bar-chart { width: 200px; float: left;}

#customerCount { margin : 0px 0px 0px 40px;}



/* about section  */
.about-data { text-align:left; width: 800px;}
