<nav class="navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html"><i class="fa fa-home">      <img src="fiddle.png" alt="home" style="width:130px;height:20px;"></i></a>

    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}blogc.html">BLOG</a></li>
        <li><a href="https://github.com/Santhosh114">PROJECTS</a></li>
        <li><a href="https://www.linkedin.com/in/santhoshsoundararajan">RESUME</a></li>
      </ul>
    </div>
  </div>
</nav>